<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.restaurant.mapper.AccountMapper" >
  <resultMap id="BaseResultMap" type="com.restaurant.entity.Account" >
    <id column="accountId" property="accountid" jdbcType="INTEGER" />
    <result column="accountName" property="accountname" jdbcType="VARCHAR" />
    <result column="accountPwd" property="accountpwd" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
  </resultMap>

</mapper>