<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.restaurant.mapper.DetailsMapper" >
  <resultMap id="BaseResultMap" type="com.restaurant.entity.Details" >
    <id column="detailsId" property="detailsid" jdbcType="INTEGER" />
    <result column="orderId" property="orderid" jdbcType="INTEGER" />
    <result column="foodId" property="foodid" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="INTEGER" />
  </resultMap>


    <select id="queryDetailsByOrdersId" resultType="com.restaurant.entity.Details">
        select detailsid,num
        f.foodid,foodname,foodpath,foodstate
        t.typeid,typename
        from details d
        left join food f
        on d.foodid = f.foodid
        left join type t
        on t.typeid = f.typeid
        where d.orderid = #{value}
    </select>

</mapper>