<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.restaurant.mapper.DetailsMapper" >


    <resultMap id="queryDetailsByOrdersIdMap" type="Details">
        <id property="detailsid" column="detailsid"/>
        <result property="num" column="num"/>
        <association property="food" javaType="Food">
            <id property="foodid" column="foodid"/>
            <result column="foodname" property="foodname"/>
            <result property="foodpath" column="foodpath"/>
            <result property="foodstate" column="foodstate"/>
            <association property="type" javaType="Type">
                <id property="typeid" column="typeid"/>
                <result property="typename" column="typename"/>
            </association>
        </association>
    </resultMap>

    <insert id="addDetails">
        insert into details(orderid,foodid,num,detailsState) values
        <foreach collection="foodUtilList" item="foodUtil" open="(" separator="),(" close=")">
            #{orderid},#{foodUtil.foodid},#{foodUtil.num},1
        </foreach>

    </insert>

    <select id="queryDetailsByOrdersId" resultMap="queryDetailsByOrdersIdMap">
        select detailsid,num,
        f.foodid,foodname,foodpath,foodstate,
        t.typeid,typename
        from details d
        left join food f
        on d.foodid = f.foodid
        left join type t
        on t.typeid = f.typeid
        where d.orderid = #{value}
    </select>
    <resultMap id="DetailsResultMap" type="com.restaurant.entity.DetailsEmp">
        <id property="detailsid" column="detailsid"/>
        <result property="foodName" column="foodName"/>
        <result property="orderCode" column="orderCode"/>
        <result property="foodPath" column="foodPath"/>
        <result property="num" column="num"/>

    </resultMap>
    <select id="findAllDetails" resultMap="DetailsResultMap">
        SELECT detailsId,foodName,orderCode,num,foodPath
        FROM details d
        LEFT JOIN food f ON d.foodId = f.foodId
        LEFT JOIN orders o ON d.orderId = o.orderId
        where  detailsState = 1 and  orderTime = #{time}
    </select>

    <select id="findFinishDetails" resultMap="DetailsResultMap">
        SELECT detailsId,foodName,orderCode,num,foodPath
        FROM details d
        LEFT JOIN food f ON d.foodId = f.foodId
        LEFT JOIN orders o ON d.orderId = o.orderId
        where  detailsState = 0 and  orderTime = #{time}
    </select>

    <update id="editDetailsState" >
        UPDATE details
        SET detailsState = 0
        WHERE detailsId = #{value}
    </update>

</mapper>