<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.restaurant.mapper.FoodMapper" >
  <resultMap id="BaseResultMap" type="com.restaurant.entity.Food" >
    <id column="foodId" property="foodid" jdbcType="INTEGER" />
    <result column="foodName" property="foodname" jdbcType="VARCHAR" />
    <result column="foodPath" property="foodpath" jdbcType="VARCHAR" />
    <result column="typeId" property="typeid" jdbcType="INTEGER" />
    <result column="foodState" property="foodstate" jdbcType="INTEGER" />
  </resultMap>

</mapper>