<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.restaurant.mapper.OrdersMapper" >

  <resultMap id="BaseResultMap" type="com.restaurant.entity.Orders" >
    <id column="orderId" property="orderid"/>
    <result column="orderCode" property="ordercode"/>
    <result column="orderTime" property="ordertime"/>
    <result column="orderState" property="orderstate"/>
    <collection property="detailsList" ofType="Details">
      <id property="detailsid" column="detailsid"/>
      <result property="num" column="num"/>
      <association property="food" javaType="Food">
        <id property="foodid" column="foodid"/>
        <result property="foodname" column="foodname"/>
        <result property="foodstate" column="foodstate"/>
        <association property="type" javaType="Type">
          <id property="typeid" column="typeid"/>
          <result property="typename" column="typename"/>
        </association>
      </association>
    </collection>
  </resultMap>

    <update id="updateOrdersStateByCode">
      update orders set orderstate = 0 where ordercode like #{value} and orderstate = 1
    </update>


    <select id="queryAllOrders" resultType="Orders">
    SELECT orderid,ordercode,ordertime,orderstate
    FROM orders
    <where>
      <if test="ordercode != null">
        and ordercode like #{ordercode}
      </if>
    </where>
  </select>


  <resultMap id="queryThreeDayOrderMap" type="OrderUtil">
    <id column="orderid"/>
    <result property="count" column="count"/>
    <association property="orders" javaType="Orders">
      <id property="orderid" column="orderid"/>
      <result property="ordertime" column="ordertime"/>
    </association>
  </resultMap>
    <select id="queryThreeDayOrder" resultMap="queryThreeDayOrderMap">
      SELECT orderid,ordertime,COUNT(*) count
      FROM orders
      WHERE ordertime BETWEEN #{0} AND #{1}
      GROUP BY ordertime
    </select>

</mapper>