<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.restaurant.mapper.TypeMapper" >

  <insert id="addType">
    insert into type(typename,typestate)
    values(#{typename},0)
  </insert>

  <select id="showAllType" resultType="Type">
    select * from type
  </select>

  <select id="findAllTypeName" resultType="Type">
    select typeId,typeName from type
  </select>

  <resultMap id="findTypeAndFoodMap" type="Type">
    <id property="typeid" column="typeid"/>
    <result property="typename" column="typename"/>
    <collection property="foodList" ofType="Food">
      <id property="foodid" column="foodid"/>
      <result column="foodname" property="foodname"/>
        <result column="foodpath" property="foodpath"/>
    </collection>
  </resultMap>
  <select id="findTypeAndFood" resultMap="findTypeAndFoodMap">
     SELECT t.typeid,typename,foodname,foodid,foodpath
     FROM TYPE t
     LEFT JOIN food f
     ON f.typeId = t.typeId
     WHERE foodstate = 0
  </select>


</mapper>